* {
  margin: 0; 
}

body {
  box-sizing: border-box; 
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.page {
  min-height: 90vh; 
}

/* Header */
.header {
  background-color: #027930; 
  color: #fff; 
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  padding: 1rem;
  height: 5vh;  
}

.logo {
  text-decoration: none; 
  color: #fff; 
  cursor: pointer; 
}

.menu-links {
  list-style: none; 
  display: flex; 
}

.menu-link {
  padding: 1rem; 
}
.menu-link:hover {
  color: #a7a7a7; 
  cursor: pointer; 
}

/* Footer */
.footer {
  background-color: #000; 
  color: #fff; 
  display: flex; 
  width: 100vw; 
  height: 3.5vh; 
  justify-content: center;
  align-items: center;
}

.footer-items {
  list-style: none; 
}

/* Gallery */
.gallery {
  display: flex; 
  flex-direction: row; 
  flex-wrap: wrap; 
  justify-content: space-between; 
  height: 80vh; 
}

.gallery-item {
  display: flex; 
  flex-direction: column; 
  list-style: none; 
  justify-content: center; 
  align-items: center; 
  max-width: 15vw; 
  max-height: 15vh; 
  margin: 1rem 0rem;  
  border: 2px solid black; 
  padding: 0.5rem; 
}

.gallery-item:hover {
  border-color: #027930; 
  cursor: pointer;
}

.car-image {
  width: 100%; 
}

/* Input */
.search-input {
  display: flex; 
  width: 100%; 
  border: none; 
  border-bottom: 2px solid black; 
  font-size: 1rem; 
  margin: 1rem 0rem; 
}

.search-input:focus {
  outline: none; 
  border-color: #027930;
}


.page-login {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 100%; 
  width: 100%; 
  margin: 0; 
}

.page-home {
  display: flex; 
  flex-direction: column;
  justify-content: center; 
  margin-top: 5rem; 
}

.login-register {
  display: flex; 
  flex-direction: column;
  align-items: center;
}

/* Form */
.form-wrapper {
  border: 2px solid black; 
  padding: 1rem; 
  width: 50vw; 
  display: flex; 
  align-items: center;
  flex-direction: column;
  margin: auto; 
}

.form-wrapper--home {
  margin-top: 1rem; 
  height: 100%;
  flex-wrap: wrap; 
}

.form {
  display: flex; 
  flex-direction:column; 
  width: 100%; 
}

.form-home {
  flex-direction: row; 
  flex-wrap: wrap; 
}

.form-title {
  font-size: 1.5rem; 
  margin-bottom: 0.5rem; 
}

.form-group {
  display: flex; 
  flex-direction: column;
  margin-bottom: 1rem; 
  font-size: 1.25rem; 
  position: relative; 
  flex-grow: 1; 
  flex-wrap: wrap; 
}

.form-group--home {
  margin: 1rem;  
}

.form-home--inputs {
  display: flex; 
  flex-direction: row; 
  flex-wrap: wrap; 
}



.form-input {
  /* height: 2rem;   */
  font-size: 1rem; 
  margin-top: 0.5rem;
  border: none; 
  border-bottom: 1.5px solid #000; 
}

.form-input--home {
  width: 140px; 
}

.form-input:focus {
  outline: none !important;
}

.input-validate {
  font-size: 1rem;
  color: red;  
  margin-bottom: 1rem; 
}

.form-input--select {
  background-color: #fff; 
  cursor: pointer; 
}

.btn-submit {
  margin: 1rem 0; 
  border: none; 
  background-color: #027930; 
  color: #fff; 
  border-radius: 10px;
  font-size: 1rem;  
  padding: 0.5rem; 
}

.btn-submit--home {
  width: 100%; 
}

.btn-submit:hover {
  cursor: pointer; 
  background-color: #05a141; 
}

/* HomePage */
.gallery--home {
  margin: 0 3rem; 
  margin-top: 2rem; 
}

/* CarsPage */
.page-cars {
  margin: 0 3rem; 
}

/* CarPage */
.page-car {
  margin: 0; 
  display: flex; 
  justify-content: center;
}

.car-reservation {
  display: flex; 
  flex-direction: row;
  justify-content: center; 
  align-items: center; 
  width: 80vw; 
}

.reservation-controls {
  width: 50%
}

.car-image--reservation { 
  width: 50%; 
}

.form-wrapper--reservation {
  margin: 0; 
  width: 100%; 
}



/* Prompt modal */
.prompt {
  position: absolute; 
  z-index: 1000; 
  top: 10vh; 
  display: flex; 
  width: calc(100% - 4rem); 
  justify-content: space-between;
  padding: 1rem; 
  margin: 1rem; 
  border-radius: 10px; 
  align-items: center; 
  transition: opacity 5s ease-in-out;
  opacity: 1; 
  animation: fadeIn 3s forwards; 
}

.prompt-error {
  background-color: #f74747; 
  color: #fff; 
}

.prompt-success {
  background-color: #69ff7d; 
}

@keyframes fadeIn {
  0% {
    opacity: 0; 
  }
  25% {
    opacity: 1; 
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.btn-close--prompt {
  background-color: inherit; 
  color:inherit; 
  border: none; 
  cursor: pointer; 
  font-size: 1.25rem; 
}